In [26]:
import pymongo

# Making a Connection with MongoClient
The first step when working with PyMongo is to create a MongoClient tothe running mongod instance. Doing so is easy:

In [1]:
from pymongo import MongoClient


cluster = "mongodb+srv://<User>:<Password>@cluster0.ux7dogj.mongodb.net/test?retryWrites=true&w=majority"
client = MongoClient(cluster)

print(client.list_database_names())

['test', 'admin', 'local']

# Getting a Database
A single instance of MongoDB can support multiple independent databases. When working with PyMongo you access databases using attribute style access on MongoClient instances:

In [2]:
db = client.test

In [3]:
print(db.list_collection_names())

['todos']

# Documents
Data in MongoDB is represented (and stored) using JSON-style documents. In PyMongo we use dictionaries to represent documents. As an example, the following dictionary might be used to represent a blog post:

In [4]:
todos1 = [
  { "_id": 1, "name": "John", "address": "Highway 37" ,"Age": 20, "Gender": "M"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27","Age": 18,"Gender":"M"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652","Age": 30,"Gender":"F"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21","Age": 25,"Gender":"F"},
  { "_id": 5, "name": "Michael", "address": "Valley 345","Age": 27,"Gender":"M"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2","Age": 40,"Gender":"M"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1","Age": 32,"Gender":"F"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331","Age": 34,"Gender":"M"},
  { "_id": 9, "name": "Susan", "address": "One way 98","Age": 37,"Gender":"F"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2","Age": 18,"Gender":"F"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38","Age": 25,"Gender":"M"},
  { "_id": 12, "name": "William", "address": "Central st 954", "Age": 29,"Gender":"M" },
  { "_id": 13, "name": "Chuck", "address": "Main Road 989","Age": 20,"Gender":"M"},
  { "_id": 14, "name": "Renzo", "address": "Barra Funda","Age": 32,"Gender":"M"},
  { "_id": 15, "name": "Gabriela", "address": "San Bernando","Age": 28,"Gender":"F"},
  { "_id": 16, "name": "Ricardo", "address": "Butanta", "Age": 35,"Gender":"M" },
  { "_id": 17, "name": "Hector", "address": "Lima","Age": 55,"Gender":"M"},
  { "_id": 18, "name": "Bruna", "address": "Minas gerais","Age": 38,"Gender":"F"},
  { "_id": 19, "name": "Jacky", "address": "Lima ","Age": 25,"Gender":"F"},
  { "_id": 20, "name": "Willy", "address": "Rua bosque", "Age": 29 ,"Gender":"M"},
  { "_id": 21, "name": "Maycol", "address": "Minnesota 989","Age": 28,"Gender":"M"},
  { "_id": 22, "name": "Vanessa", "address": "New York 1633","Age": 37,"Gender":"F"},
  { "_id": 23, "name": "Taissa", "address": "Rio de Janeiro","Age": 27,"Gender":"F"},
  { "_id": 24, "name": "Eunice", "address": "Interior ", "Age": 60,"Gender":"F" },
  { "_id": 25, "name": "Enzo", "address": "Bogota 450","Age": 19,"Gender":"M"},
  { "_id": 26, "name": "Camila", "address": "Paraisopolis","Age": 29,"Gender":"F"},
  { "_id": 27, "name": "Claudia", "address": "Matarazzo 450 ","Age": 50,"Gender":"F"},
  { "_id": 28, "name": "Nilsa", "address": "Rua cidade de deus", "Age": 61,"Gender":"F"},
  { "_id": 29, "name": "Fabianna", "address": "Capistrano de abreu","Age": 34,"Gender":"F"},
  { "_id": 30, "name": "Nicoli", "address": "Maua","Age": 25,"Gender":"F"}  
]

In [5]:
todos = db.todos

In [ ]:
# Inserting documents
# ================================================================
result = todos.insert_many(todos1)

In [10]:
# Finding all persons with gender female
# ================================================================
for i in todos.find({ "Gender":"F"}):
    print(i)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652', 'Age': 30, 'Gender': 'F'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21', 'Age': 25, 'Gender': 'F'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1', 'Age': 32, 'Gender': 'F'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98', 'Age': 37, 'Gender': 'F'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2', 'Age': 18, 'Gender': 'F'}
{'_id': 15, 'name': 'Gabriela', 'address': 'San Bernando', 'Age': 28, 'Gender': 'F'}
{'_id': 18, 'name': 'Bruna', 'address': 'Minas gerais', 'Age': 38, 'Gender': 'F'}
{'_id': 19, 'name': 'Jacky', 'address': 'Lima ', 'Age': 25, 'Gender': 'F'}
{'_id': 22, 'name': 'Vanessa', 'address': 'New York 1633', 'Age': 37, 'Gender': 'F'}
{'_id': 23, 'name': 'Taissa', 'address': 'Rio de Janeiro', 'Age': 27, 'Gender': 'F'}
{'_id': 24, 'name': 'Eunice', 'address': 'Interior ', 'Age': 60, 'Gender': 'F'}
{'_id': 26, 'name': 'Camila', 'address': 'Paraisopolis', 'Age': 29, 'Gender': 'F'}
{'_id': 27, 'name': 'Claudia', 'address': 'Matarazzo 450 ', 'Age': 50, 'Gender': 'F'}
{'_id': 28, 'name': 'Nilsa', 'address': 'Rua cidade de deus', 'Age': 61, 'Gender': 'F'}
{'_id': 29, 'name': 'Fabianna', 'address': 'Capistrano de abreu', 'Age': 34, 'Gender': 'F'}
{'_id': 30, 'name': 'Nicoli', 'address': 'Maua', 'Age': 25, 'Gender': 'F'}

In [17]:
# Finding all persons greater than 30
consult2 = todos.find(
                     {"Age":{"$gt": 30}}
                     )
for i in consult2:
    print(i)

{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2', 'Age': 40, 'Gender': 'M'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1', 'Age': 32, 'Gender': 'F'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331', 'Age': 34, 'Gender': 'M'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98', 'Age': 37, 'Gender': 'F'}
{'_id': 14, 'name': 'Renzo', 'address': 'Barra Funda', 'Age': 32, 'Gender': 'M'}
{'_id': 16, 'name': 'Ricardo', 'address': 'Butanta', 'Age': 35, 'Gender': 'M'}
{'_id': 17, 'name': 'Hector', 'address': 'Lima', 'Age': 55, 'Gender': 'M'}
{'_id': 18, 'name': 'Bruna', 'address': 'Minas gerais', 'Age': 38, 'Gender': 'F'}
{'_id': 22, 'name': 'Vanessa', 'address': 'New York 1633', 'Age': 37, 'Gender': 'F'}
{'_id': 24, 'name': 'Eunice', 'address': 'Interior ', 'Age': 60, 'Gender': 'F'}
{'_id': 27, 'name': 'Claudia', 'address': 'Matarazzo 450 ', 'Age': 50, 'Gender': 'F'}
{'_id': 28, 'name': 'Nilsa', 'address': 'Rua cidade de deus', 'Age': 61, 'Gender': 'F'}
{'_id': 29, 'name': 'Fabianna', 'address': 'Capistrano de abreu', 'Age': 34, 'Gender': 'F'}

In [18]:
# Finding all persons with gender Female and greater than 30
# ==================================================================
consult3 = todos.find(
                     {"$and":[{"Gender":"F"}, {"Age":{"$gt":30}}]}
                      )
for i in consult3:
    print(i)

{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1', 'Age': 32, 'Gender': 'F'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98', 'Age': 37, 'Gender': 'F'}
{'_id': 18, 'name': 'Bruna', 'address': 'Minas gerais', 'Age': 38, 'Gender': 'F'}
{'_id': 22, 'name': 'Vanessa', 'address': 'New York 1633', 'Age': 37, 'Gender': 'F'}
{'_id': 24, 'name': 'Eunice', 'address': 'Interior ', 'Age': 60, 'Gender': 'F'}
{'_id': 27, 'name': 'Claudia', 'address': 'Matarazzo 450 ', 'Age': 50, 'Gender': 'F'}
{'_id': 28, 'name': 'Nilsa', 'address': 'Rua cidade de deus', 'Age': 61, 'Gender': 'F'}
{'_id': 29, 'name': 'Fabianna', 'address': 'Capistrano de abreu', 'Age': 34, 'Gender': 'F'}

In [21]:
# Finding all persons with gender Male and less than 22
# =====================================================================
consult4 = todos.find(
                    {"$and" : [ {"Age": {"$lt": 22}}, {"Gender": "M"}] }
                      )
for i in consult4:
    print(i)

{'_id': 1, 'name': 'John', 'address': 'Highway 37', 'Age': 20, 'Gender': 'M'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27', 'Age': 18, 'Gender': 'M'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989', 'Age': 20, 'Gender': 'M'}
{'_id': 25, 'name': 'Enzo', 'address': 'Bogota 450', 'Age': 19, 'Gender': 'M'}

In [22]:
# Adding new documents
# ========================================================================
new = [ { "_id": 31, "name": "Carlos", "address": "Barra Funda","Age": 28,"Gender":"M"} ,
        {"_id" : 32 ,"name": "Johan", "address": "Lima", "Age": 24, "Gender":"M"},
        {"_id": 33, "name": "Ricardo", "address" : "Lima", "Age": 28, "Gender": "M"},
        {"_id": 34, "name": "Ricardo", "address": "Barra funda", "Age": 45, "Gender":"M"},
        {"_id": 35, "name": "Lucia", "address": "Rua bosque", "Age" : 23, "Gender": "F"}
]

In [23]:
result2 = todos.insert_many(new)

In [32]:
# Finding all person with name "Ricardo" and sorting by their Age 
consult5 = todos.find(
                     {"name": "Ricardo"}
                     ).sort("Age" , pymongo.DESCENDING)
for i in consult5:
    print(i)

{'_id': 34, 'name': 'Ricardo', 'address': 'Barra funda', 'Age': 45, 'Gender': 'M'}
{'_id': 16, 'name': 'Ricardo', 'address': 'Butanta', 'Age': 35, 'Gender': 'M'}
{'_id': 33, 'name': 'Ricardo', 'address': 'Lima', 'Age': 28, 'Gender': 'M'}

In [36]:
consult6 = todos.find(
                      {"$max" :"Age"})
print(consult6)

<pymongo.cursor.Cursor object at 0x0000020D42825220>